<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKBOM5wFXryNqVJsH0jvOTF7-M8XJihOA</string>
	<key>GCM_SENDER_ID</key>
	<string>509356282842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogApp</string>
	<key>PROJECT_ID</key>
	<string>blogapp-3a0f4</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-3a0f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509356282842:ios:67f51acf5cf3ec11f0a6e3</string>
	<key>DATABASE_URL</key>
	<string>https://blogapp-3a0f4-default-rtdb.firebaseio.com</string>
</dict>
</plist>